ansible.cfg
/group_vars
/host_vars
hosts
inventory.yml

*.bak
*.old
*.save
*.tmp
*.tmp.*
*.rpmnew
.#*

**/vault.yml

.vscode/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
__pycache__/
dist/
