{#
# contributor-assistant.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}


{% macro create() %}
{% import '.cookiecutter_includes/license/__init__.j2' as license_macros with context %}
{{- license_macros.license_header.create(
  cookiecutter.license,
  cookiecutter.copyright,
  cookiecutter.project_slug,
  file_name=cookiecutter.contribution_model|lower ~ '.yml',
  comment_style='hash') -}}
---
name: "{{ cookiecutter.contribution_model | upper }} Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [
      opened,
      closed,
      synchronize
    ]

# explicitly configure permissions, in case your GITHUB_TOKEN
# workflow permissions are set to read-only in repository settings
permissions:
  actions: write
  contents: write # this can be 'read' if the signatures are in remote repository
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "{{ cookiecutter.contribution_model | upper }} Assistant"
        if: >-
            (github.event.comment.body == 'recheck' ||
            github.event.comment.body == 'I have read the {{ cookiecutter.contribution_model | upper }} Document and I hereby sign the {{ cookiecutter.contribution_model | upper }}') ||
            github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw +%}
        with:
          path-to-signatures: "{{ cookiecutter.contribution_model | lower }}/v1/signatures.json"
          path-to-document: "{{ cookiecutter.github_io }}/manual/developer-resources/{{ cookiecutter.contribution_model | lower }}"
          # branch should not be protected
          branch: "{{ cookiecutter._default_branch }}" # Should match the branch that github pages are hosted from.
          allowlist: "{{ cookiecutter.github_username }},github-actions[bot],dependabot[bot],bot*"

          # If the below optional inputs are not given, then default values will be taken:
          create-file-commit-message: "chore({{ cookiecutter.contribution_model | upper }}): Creating file for storing {{ cookiecutter.contribution_model | upper }} Signatures."
          signed-commit-message: "chore({{ cookiecutter.contribution_model | upper }}): $contributorName has signed the {{ cookiecutter.contribution_model | upper }}."
          # custom-notsigned-prcomment: "pull request comment with Introductory message to ask new contributors to sign"
          # custom-pr-sign-comment: "The signature to be committed in order to sign the {{ cookiecutter.contribution_model | upper }}"
          # custom-allsigned-prcomment: "**{{ cookiecutter.contribution_model | upper }} Assistant Lite bot** All Contributors have signed the {{ cookiecutter.contribution_model | upper }}."
          lock-pullrequest-aftermerge: true
          use-dco-flag: {{ 'true' if cookiecutter.contribution_model|lower == 'dco' else 'false' }} # If you are using DCO instead of CLA
{% endmacro %}
