{#
# community_health_files/issue_template/__init__.j2 for cookiecutter-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% import '.cookiecutter_includes/community_health_files/issue_template/01-bug-report.j2' as _bug_report with context %}
{% import '.cookiecutter_includes/community_health_files/issue_template/02-feature-request.j2' as _feature_request with context %}
{% import '.cookiecutter_includes/community_health_files/issue_template/config.j2' as _config with context %}
{% import '.cookiecutter_includes/community_health_files/issue_template/z-developer-issue.j2' as _developer_issue with context %}


{% set bug_report = _bug_report %}
{% set feature_request = _feature_request %}
{% set config = _config %}
{% set developer_issue = _developer_issue %}
