# cla.yml for python3-cookiecutter
#
# SPDX-FileCopyrightText: Copyright (c) 2025-2026, Jared Cook
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
---
name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [
      opened,
      closed,
      synchronize
    ]

# explicitly configure permissions, in case your GITHUB_TOKEN
# workflow permissions are set to read-only in repository settings
permissions:
  actions: write
  contents: write # this can be 'read' if the signatures are in remote repository
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: >-
            (github.event.comment.body == 'recheck' ||
            github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') ||
            github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path-to-signatures: "cla/v1/signatures.json"
          path-to-document: "https://jcook3701.github.io/python3-cookiecutter/manual/developer-resources/cla"
          # branch should not be protected
          branch: "master" # Should match the branch that github pages are hosted from.
          allowlist: "jcook3701,github-actions[bot],dependabot[bot],bot*"

          # If the below optional inputs are not given, then default values will be taken:
          create-file-commit-message: "chore(CLA): Creating file for storing CLA Signatures."
          signed-commit-message: "chore(CLA): $contributorName has signed the CLA."
          # custom-notsigned-prcomment: "pull request comment with Introductory message to ask new contributors to sign"
          # custom-pr-sign-comment: "The signature to be committed in order to sign the CLA"
          # custom-allsigned-prcomment: "**CLA Assistant Lite bot** All Contributors have signed the CLA."
          lock-pullrequest-aftermerge: true
          use-dco-flag: false # If you are using DCO instead of CLA
