---
name: Template Jinja2 Lint

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Jinja2 CLI
        run: |
          make install

      - name: Lint Jinja templates
        run: |
          make jinja2-lint-check
